@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* match title style */



.container{
   
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 50px;
    background-color: #564bf1;
    line-height: 80px;
    font-size: 64px;
    font-style: normal;
 

}
.picture img{
     width: 70%;
    padding-top: 153px;
    padding-left: 300px;
    transition: width 2s, height 2s, transform 2s;
    animation:spin 2s linear;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.match-title{
    font-size: 25px;
    font-weight: bold;
    color:rgb(255, 255, 251);
    width: 50%;
    padding-top:207px;
    padding-left: 150px;

}
a{
    background-color: #1d2fce7c;
    color:rgb(246, 247, 255);
    text-decoration: none;
    padding: 8px 11px;
    margin-bottom: 30px;
    border-radius: 4px;
    font-size: 20px;

}
/* players blog style */
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
 
    margin-left: 12%;
    margin-right:7%;
}
.blogs p{
    color: rgb(146, 141, 141);
}



.blog .thumbnail img{
    width: 15vw;
    height: 25vh;
}
.blog{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 7% 0%;
    padding: 10px 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 55%;   
    cursor: pointer;
    transition: transform .3s;
}

.blog:hover{
    transform: scale(1.1);
}
.blog-info{
    font: size 16px;
   font-weight: 100px;
}

a:hover{
    background-color:rgba(131, 248, 229, 0.671);
    color: rgb(50, 22, 175);
}
/* highlights style/ */

.highlights{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    margin-top: 150px;
    width: 100%;
    margin-bottom:10vh;
}
.highlights-title{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 550px;
    height: 400px;
    left: 182px;
    top: 2500px;
    color: rgb(5, 5, 80);
    font-size: 48px;
    text-decoration: none;
   

}
.images{
  
    width: 655px;
    height: 527px;
    left: 717px;
    top: 2889px;

}


.highlight-text{
    font-size: 18px;
    color: rgb(112, 112, 138);
}

/* forms styles */
.container-form h1{
    color: rgb(7, 14, 114);
    text-align: center; 
    font-size: 48px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(148, 240, 247);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #298f8f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #1fe9c7;
    color: #031818;
  }
  
  .container-form {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    padding: 50px 500px;
  }

  /* footer style */
  footer{
      display: flex;
      justify-content: center;
      align-items: center;
    margin: 0 auto;
     
  }
  footer img{
      width: 600px;
  }

  footer p{
      text-align: center;
  }
.i-con{
    color: gray;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(250, 250, 250);
 
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 200px;
}
